<!--animated fadeIn fast para agregar la animació-->
<div class="card animated fadeIn fast" style="width: 18rem;" >
    <img class="card-img-top" style="width: 18rem;" [src]="heroe.img" alt="{{heroe.nombre}}">
    <div class="card-body"  >
      <h5 class="card-title">{{heroe.nombre}}</h5>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
      <!--Modo de navegar por codigo de programación-->
      <button (click)="verHeroe()" type="button" class="btn btn-outline-primary " >
          Ver más
      </button>
      <!--Otra forma solo con link ya vimos esto -->
      <a [routerLink]="['/heroe',index]" class="btn btn-outline-primary "> Ver más link</a>
    </div>
</div>
