<h1>Buscadondo a  <small>{{terminos}}</small></h1><!--Mensaje dinamico-->
<hr>
<!--Para hacer que en caso de no tener coincidencias salga mensaje-->
<div class="row" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existe resultado con el termino: {{terminos}} 
        </div>

    </div>

</div>
<div class="card-columns">
    <!--heroe es la variable declarada en el heroe-tarjeta-component y heroeV es de la iteración"-->
    <app-heroe-tarjeta [heroe]="heroeV" [index]="i" *ngFor="let heroeV of heroes; let i = index"></app-heroe-tarjeta>
    
      
</div>
